.media {
    background: $background;
    margin: 20px;
    border-radius: 16px;
}

.cover {
    margin: 4px;
    border-radius: 16px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.positionSlider {
    background: $background;
    color: white;
}
