* {
    all: unset;
}

@import "../colors";

tooltip {
    * {
        all: unset;
    }

    all: unset;

    > * > * {
        all: unset;

        padding: 8px;

        background: $background;
        color: $primary;

        border-radius: 16px;
    }
}
