window.Bar {
    background: transparent;

    > centerbox {
        margin-left: $gap_padding;
        margin-right: $gap_padding;
        margin-top: $gap_padding;
    }

    button {
        color: $on_primary;
        background: $primary;
        margin: 2px;
    }

    icon {
        color: $on_primary;
        font-size: 18px;
    }

    .Workspaces {
        button {
            color: $on_primary;
            background: $primary;
            margin: 2px;
            border-radius: 0px;

            &.active {
                background: $on_primary;
                color: $primary;
            }

            &:hover {
                background: $inverse_primary;
            }

            &:first-child {
                border-radius: 16px 0 0 16px;
                padding-left: 16px;
            }
            &:last-child {
                border-radius: 0 16px 16px 0;
                padding-right: 16px;
            }
            &:first-child:last-child {
                border-radius: 16px;
                padding-left: 16px;
                padding-right: 16px;
            }
        }
    }
}
