.Bar {
  background: transparent;
  font-weight: bold;

  > centerbox {
    margin-left: $gap_padding;
    margin-right: $gap_padding;
    margin-top: $gap_padding;
  }

  button {
    color: $on_primary;
    background: $primary;
    margin: 0 4px;
    outline: none;

    &.focused {
      color: $on_primary_container;
      background: $primary_container;
    }

    &:hover {
      color: $on_primary_container;
      background: $inverse_primary;
    }
  }

  label {
    color: $on_primary;
    background: $primary;
    margin: 0 4px;
  }

  image {
    color: $on_primary;
    background: $primary;
  }
}
