* {
    all: unset;
}

@import "colors";
// -------------------------

// BAR
.bar {
    background: transparent;
    min-height: 40px;
}

.bar-spacing {
    background: transparent;

    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
}

.bar-item {
    background: $background;
    color: $primary;
    padding-right: 15px;

    &.focused {
        border-bottom: $primary 2px solid;
    }

    &:hover {
        background: $color8;
    }

    &:first-child {
        border-radius: 16px 0 0 16px;
        padding-left: 15px;
    }
    &:last-child {
        border-radius: 0 16px 16px 0;
        padding-right: 15px;
    }
    &:first-child:last-child {
        border-radius: 16px;
        padding-left: 15px;
        padding-right: 15px;
    }
}
// -------------------------

// AUDIO
.media {
    background: $background;
    margin: 20px;
    border-radius: 16px;
}

.cover {
    margin: 4px;
    border-radius: 16px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.positionSlider {
    background: $background;
    color: white;
}
