* {
    all: unset;
}

@import "colors";

// BAR
.bar {
    background: transparent;
}

.bar-spacing {
    background: transparent;

    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
}

.bar-section {
    background: $background;

    padding-left: 20px;
    padding-right: 20px;

    border-radius: 16px;
}

.bar-item {
    min-width: 25px;
    background: $background;
    color: $primary;

    &.focused {
        border-bottom: $primary 2px solid;
    }

    &:hover {
        background: $color8;
    }
}
// -------------------------

// AUDIO
.media {
    background: $background;
    margin: 20px;
    border-radius: 16px;
}

.cover {
    margin: 4px;
    border-radius: 16px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.positionSlider {
    background: $background;
    color: white;
}
