.bar {
    background-color: rgba(0, 0, 0, 0.8);
    color: @theme_fg_color;
    background-color: @theme_bg_color;
}

.revealer {
    background-color: transparent;
    color: transparent;
}

.media-menu {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 13px;
    padding: 10px;
    color: @theme_fg_color;
}

.workspaces button {
    color: @insensitive_fg_color;
}

.workspaces .focused label {
    color: @theme_fg_color;
}

.media-section {
    border-radius: 13px;
    padding: 10px;
    background-color: @theme_bg_color;
}

.player {
    min-width: 350px;
}

.player .img {
    min-width: 100px;
    min-height: 100px;
    background-size: cover;
    background-position: center;
    border-radius: 13px;
    margin-right: 1em;
}

.player .title {
    font-size: 1.2em;
}

.player .artist {
    font-size: 1.1em;
    color: @insensitive_fg_color;
}

.player scale.position {
    padding: 0;
    margin-bottom: 0.3em;
}

.player scale.position trough {
    min-height: 8px;
}

.player scale.position highlight {
    background-color: @theme_fg_color;
}

.player scale.position slider {
    all: unset;
}

.player button {
    min-height: 1em;
    min-width: 1em;
    padding: 0.3em;
}

.player button.play-pause {
    margin: 0 0.3em;
}

.icon {
    padding: 10px;
    color: @theme_fg_color;
}

.settings {
    padding: 1em;
}

.settings-header {
    font-size: 2em;
    border-radius: 13px;
    padding: 0.3em;
    background-color: rgba(0, 0, 0, 0.8);
}

.settings-items {
    padding-top: 0.5em;
}

.settings-items-labels {
    padding: 10px;
    border-radius: 13px;
    background-color: rgba(0, 0, 0, 0.8);
}

.settings-item-label {
    font-size: 1.2em;
    margin: 0.3em;
    padding: 1em;
    border-radius: 13px;
    background-color: @theme_bg_color;
}

.settings-item-label-icon {
    margin-right: 1em;
}

.settings-items-content {
    border-radius: 13px;
    font-size: 1.2em;
    margin-left: 1em;
    padding: 0.3em;
    background-color: rgba(0, 0, 0, 0.8);
}

.power-button {
    color: @theme_fg_color;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 13px;
    min-width: 10px;
    min-height: 10px;
    margin: 0.3em;
}
