.config/fish/fish_variables
.config/fish/completions

.config/systemd/user/default.target.wants

.local/share/icons/default

# Colors
.config/bat/themes
.config/ghostty/themes
.config/hypr/colors.conf
.config/kitty/colors.conf
.config/matugen/current-colors.css

# Temp
.config/hypr/conf/temp

# AndoridStudio
.config/Google/**
!/.config/Google/**/settings.zip
!/.config/Google/
!/.config/Google/**/
.config/ags/scss/colors.scss
.config/btop/btop.conf
.config/dunst/dunstrc
.config/walker/themes/matugen/colors.css
