* {
    all: unset; //Unsets everything so you can style everything from scratch
}

.bar1 {
    font-family: FiraCode Nerd Font;
    font-size: 12px;
    background-color: rgba(0, 0, 0, 1.0);
	margin: 12px 8px 40px 12px;
	border-radius: 5px;
}
