/* #window { */
/*   background-color: rgba(0, 0, 0, 0); */
/* } */
/**/
/* box#main { */
/*   border-radius: 10px; */
/*   background-color: @theme_bg_color; */
/* } */
/**/
/* list#main { */
/*   background-color: rgba(0, 0, 0, 0); */
/*   border-radius: 10px; */
/* } */
/**/
/* list#plugin { */
/*   background-color: rgba(0, 0, 0, 0); */
/* } */
/**/
/* label#match-desc { */
/*   font-size: 10px; */
/* } */
/**/
/* label#plugin { */
/*   font-size: 14px; */
/* } */


/* * { */
/*     all: unset; */
/*     font-size: 1rem; */
/* } */
/**/
/* #window, */
/* #match, */
/* #entry, */
/* #plugin, */
/* #main { */
/*     background: transparent; */
/* } */
/**/
/* #match.activatable { */
/*     border-radius: 16px; */
/*     padding: 0.3rem 0.9rem; */
/*     margin-top: 0.01rem; */
/* } */
/* #match.activatable:first-child { */
/*     margin-top: 0.7rem; */
/* } */
/* #match.activatable:last-child { */
/*     margin-bottom: 0.6rem; */
/* } */
/**/
/* #plugin:hover #match.activatable { */
/*     border-radius: 10px; */
/*     padding: 0.3rem; */
/*     margin-top: 0.01rem; */
/*     margin-bottom: 0; */
/* } */
/**/
/* #match:selected, */
/* #match:hover, */
/* #plugin:hover { */
/*     background: #2e3131; */
/* } */
/**/
/* #entry { */
/*     background: #0b0f10; */
/*     border: 1px solid #0b0f10; */
/*     border-radius: 16px; */
/*     margin: 0.5rem; */
/*     padding: 0.3rem 1rem; */
/* } */
/**/
/* list > #plugin { */
/*     border-radius: 16px; */
/*     margin: 0 0.3rem; */
/* } */
/* list > #plugin:first-child { */
/*     margin-top: 0.3rem; */
/* } */
/* list > #plugin:last-child { */
/*     margin-bottom: 0.3rem; */
/* } */
/* list > #plugin:hover { */
/*     padding: 0.6rem; */
/* } */
/**/
/* box#main { */
/*     background: #0b0f10; */
/*     box-shadow: inset 0 0 0 1px #0b0f10, 0 0 0 1px #0b0f10; */
/*     border-radius: 24px; */
/*     padding: 0.3rem; */
/* } */




#window {
  background-color: rgba(0, 0, 0, 0);
}

box#main {
  border-radius: 20px;
  background-color: rgba(38, 38, 38, 0.8);
  border: 2px solid #7e9cd8;
}

entry#entry {
  min-height: 40px;
  border-radius: 20px;
  background: transparent;
  box-shadow: none;
  border: none;
}

list#main {
  background-color: rgba(0, 0, 0, 0);
}

#plugin {
  background: transparent;
  padding-bottom: 5px;
}

#match {
  padding: 2.5px;
}

#match:selected {
  background: transparent;
  border-right: 4px solid #7e9cd8;
  border-left: 4px solid #7e9cd8;
  border-radius: 4px;
  color: #7e9cd8;
}

#match:selected label#info {
  color: #b0b0b0;
  animation: fade 0.1s linear
}

@keyframes fade {
  0% {
    color: transparent;
  }

  100% {
    color: #b0b0b0;
  }
}

#match label#info {
  color: transparent;
}

#match:hover {
  background: transparent;
}

label#match-desc {
  font-size: 10px;
  color: #b0b0b0;
}

label#plugin {
  font-size: 14px;
}

