Config(
  prefix: "? ",
  // Options: Google, Ecosia, Bing, DuckDuckGo, Custom
  // NOTE: `{}` is replaced by the search query and `https://` is automatically added in front.
  engines: [
    DuckDuckGo,
    Custom (
      name: "GitHub",
      url: "github.com/search?q={}",
    ),
    Custom (
      name: "My Github Repos",
      url: "github.com/search?q=owner%3AFromWau+{}&type=repositories",
    ),
    Custom (
      name: "AUR Packages",
      url: "aur.archlinux.org/packages?K={}",
    ),
    Custom (
      name: "Arch Packages",
      url: "archlinux.org/packages/?q={}",
    ),
  ]
)
